'.source.js':
  '获取网络类型':
    'prefix': 'wxgetNetworkType'
    'body': '''
    wx.getNetworkType({
      success: function(res) {
        $1// success
        var networkType = res.networkType
      }
    })
    '''
  '监听网络状态变化':
    'prefix': 'wxonNetworkStatusChange'
    'body': '''
    wx.onNetworkStatusChange(function(res) {
      console.log(res.isConnected)
      console.log(res.networkType)
    })
    '''
  '异步获取系统信息':
    'prefix': 'wxgetSystemInfo'
    'body': '''
    wx.getSystemInfo({
      success: function(res) {
        $1// success
      }
    })
    '''
  '同步获取系统信息':
    'prefix': 'wxgetSystemInfoSync'
    'body': 'wx.getSystemInfoSync()'
  '监听加速度数据':
    'prefix': 'wxonAccelerometerChange'
    'body': '''
    wx.onAccelerometerChange( function(res) {
      $1// callback
      console.log(res.x)
      console.log(res.y)
      console.log(res.z)
    })
    '''
  '开始监听加速度数据':
    'prefix': 'wxstartAccelerometer'
    'body': '''
    wx.startAccelerometer()
    '''
  '结束监听加速度数据':
    'prefix': 'wxstopAccelerometer'
    'body': '''
    wx.stopAccelerometer()
    '''
  '判断小程序API在当前版本是否可用':
    'prefix': 'wxcanIUse'
    'body': '''
    wx.canIUse('${1:component}.${2:attribute}.${3:option}') // 例如wx.canIUse('showToast.object.image')
    '''
  '监听罗盘数据':
    'prefix': 'wxonCompassChange'
    'body': '''
    wx.onCompassChange(function(res){
      $1// callback
    })
    '''
  '开始监听罗盘数据':
    'prefix': 'wxstartCompass'
    'body': '''
    wx.startCompass()
    '''
  '结束监听罗盘数据':
    'prefix': 'wxstopCompass'
    'body': '''
    wx.stopCompass()
    '''
  '拨打电话':
    'prefix': 'wxmakePhoneCall'
    'body': '''
    wx.makePhoneCall({
      phoneNumber: '${1:String}'
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '扫码':
    'prefix': 'wxscanCode'
    'body': '''
    wx.scanCode({
      success: function(res) {
        $1// success
        console.log(res)
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '设置系统剪贴板的内容':
    'prefix': 'wxsetClipboardData'
    'body': '''
    wx.setClipboardData({
      data: '${1:String}',
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '获取系统剪贴板的内容':
    'prefix': 'wxgetClipboardData'
    'body': '''
    wx.getClipboardData({
      success: function() {
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '获取用户的当前设置':
    'prefix': 'wxgetSetting'
    'body': '''
    wx.getSetting({
      success: function(res){
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '部分接口需要获得同意后才能调用':
    'prefix': 'wxauthorize'
    'body': '''
    wx.authorize({
      scope: '${1:String}', //可以从wxgetSetting获取
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '设置屏幕亮度':
    'prefix': 'wxsetScreenBrightness'
    'body': '''
    wx.setScreenBrightness({
      value: '${1:Number}', //可以从wxgetSetting获取
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '获取屏幕亮度':
    'prefix': 'wxgetScreenBrightness'
    'body': '''
    wx.getScreenBrightness({
      success: function() {
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '获取网络类型':
    'prefix': 'wxgetNetworkType'
    'body': '''
    wx.getNetworkType({
      success: function(res){
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '使手机发生较长时间的振动（400ms）':
    'prefix': 'wxvibrateLong'
    'body': '''
    wx.vibrateLong({
      success: function(res){
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '使手机发生较短时间的振动（15ms）':
    'prefix': 'wxvibrateShort'
    'body': '''
    wx.vibrateShort({
      success: function(res){
        $1// success
      },
      fail: function() {
        $2// fail
      },
      complete: function() {
        $3// complete
      }
    })
    '''
  '保存图片到系统相册，需要用户授权':
    'prefix': 'wxsaveImageToPhotosAlbum'
    'body': '''
    wx.saveImageToPhotosAlbum({
      filePath: '${1:String}', //图片文件路径，可以是临时文件路径也可以是永久文件路径
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '保存视频到系统相册，需要用户授权':
    'prefix': 'wxsaveVideoToPhotosAlbum'
    'body': '''
    wx.saveVideoToPhotosAlbum({
      filePath: '${1:String}', //视频文件路径，可以是临时文件路径也可以是永久文件路径
      success: function() {
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '获取全局唯一的背景音频管理器':
    'prefix': 'wxbackgroundAudioManager'
    'body': '''
    // backgroundAudioManager 方法属性列表 https://mp.weixin.qq.com/debug/wxadoc/dev/api/getBackgroundAudioManager.html
    const backgroundAudioManager = wx.getBackgroundAudioManager()
    '''
  '把当前画布指定区域的内容导出生成指定大小的图片':
    'prefix': 'wxcanvasToTempFilePath'
    'body': '''
    wx.canvasToTempFilePath({
      x: ${1:Number},
      y: ${2:Number},
      width: ${3:Number},
      height: ${4:Number},
      destWidth: ${5:Number},
      destHeight: ${6:Number},
      canvasId: '${7:String}',
      success: function(res) {
        $8// success
      },
      fail: function() {
        $9// fail
      },
      complete: function() {
        $10// complete
      }
    })
    '''
