'.source.js':
  '发起网络请求':
    'prefix': 'wxrequest'
    'body': '''
    wx.request({
      url: 'https://${1:URL}',
      // data: {},
      // header: {}, // 设置请求的 header , header 中不能设置 Referer
      // dataType: 'json', // 默认为 json。如果设置了 dataType 为 json，则会尝试对响应的数据做一次 JSON.parse
      method: '${2:GET}', // OPTIONS, GET, HEAD, POST, PUT, DELETE, TRACE, CONNECT
      success: function(res){
        ${3}// success
      },
      fail: function() {
        ${4}// fail
      },
      complete: function() {
        // complete
      }
    })
    '''
  '上传文件':
    'prefix': 'wxuploadFile'
    'body': '''
    wx.uploadFile({
      url: 'https://${1:URL}',
      filePath:'${2:String}',
      name:'${3: String}',
      // header: {}, // 设置请求的 header
      // formData: {}, // HTTP 请求中其他额外的 form data
      success: function(res){
        $4// success
      },
      fail: function() {
        $5// fail
      },
      complete: function() {
        $6// complete
      }
    })
    '''
  '下载文件':
    'prefix': 'wxdownloadFile'
    'body': '''
    wx.downloadFile({
      url: "https://${1:URL}",
      // type: 'image', // 下载资源的类型，用于客户端识别处理，有效值：image/audio/video
      // header: {}, // 设置请求的 header
      success: function(res){
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '创建 WebSocket 连接':
    'prefix': 'wxconnectSocket'
    'body': '''
    wx.connectSocket({
      url: 'wss://${1:String}',
      data: {${2:Object}},
      // header: {}, // 设置请求的 header
      method: '${3:GET}', // OPTIONS, GET, HEAD, POST, PUT, DELETE, TRACE, CONNECT
      success: function(res){
        $4// success
      },
      fail: function() {
        $5// fail
      },
      complete: function() {
        $6// complete
      }
    })
    '''
  '监听 WebSocket 打开':
    'prefix': 'wxonSocketOpen'
    'body': '''
    wx.onSocketOpen(function() {
      $1// callback
    })
    '''
  '监听 WebSocket 错误':
    'prefix': 'wxonSocketError'
    'body': '''
    wx.onSocketError(function() {
      $1// callback
    })
    '''
  '发送 WebSocket 消息':
    'prefix': 'wxsendSocketMessage'
    'body': '''
    wx.sendSocketMessage({
      data: '${1: String}',
      success: function(res){
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '接受 WebSocket 消息':
    'prefix': 'wxonSocketMessage'
    'body': '''
    wx.onSocketMessage(function(data) {
      $1// data
    })
    '''
  '关闭 WebSocket 连接':
    'prefix': 'wxcloseSocket'
    'body': '''
    wx.closeSocket()
    '''
  '监听 WebSocket 关闭':
    'prefix': 'wxonSocketClose'
    'body': '''
    wx.onSocketClose(function() {
      $1// callback
    })
    '''
